<div>
<h2>Editar película</h2>
<form action="/movies/{{movieDetails._id}}/edit" method="POST">
<label for="title">Título:</label>
<input type="text" name="title" value="{{movieDetails.title}}">
<br>
<label for="genre">Género:</label>
<input type="text" name="genre" value="{{movieDetails.genre}}">
<br>
<label for="plot">Trama:</label>
<input type="text" name="plot" value="{{movieDetails.plot}}">
<br>
<label for="cast">Casting:</label>
<select name="cast" multiple="true">
    {{#each celebritiesList}}
    <option value="{{_id}}">{{name}}</option>
    {{/each}}

</select>
<br>
<button>Añadir</button>
</form>

</div>